menu "Mitsusplit Configuration"
    config ESP_SOFTAP_SSID_PREFIX
        string "WiFi SSID"
        default "MITSU_"
        help
            SSID (network name) to provide during initial setup.

    config ESP_SOFTAP_PASSWORD_PREFIX
        string "WiFi Password"
        default "mitsu_"
        help
            WiFi password (WPA or WPA2) prefix for clients to connect during initial setup.

    config ESP_SOFTAP_CHANNEL
        int "WiFi Channel"
        range 1 13
        default 1
        help
            WiFi channel (network channel) for the setup AP to use.

    config ESP_MAX_STA_CONN
        int "Maximal STA connections"
        default 2
        help
            Max number of the STA connects to AP.

    config ESP_WIFI_SCAN_LIST_SIZE
        int "How many access points to collect during scanning"
        range 4 40
        default 20
        help
            Max number of entries when scanning for wifi access points (networks).

    config MDNS_HOST_NAME
        string "mDNS Host Name"
        default "mitsusplit"
        help
            Specify the domain name used in the mDNS service.
            Note that webpage also take it as a part of URL where it will send GET/POST requests to.

    config WEB_MOUNT_POINT
        string "Website mount point in VFS"
        default "/www"
        help
            Specify the mount point in VFS.

endmenu
